#banner {
    width: 100%;
}
/* para estilizar um id no CSS, colocamos #(tralha) e no nome do id*/

.principal{
    background: #cccccc;
    padding: 30px;
}

.titulo-principal{
    padding-left: 20px;
}



.titulo-centralizado{
    text-align:center;
}


p{
    text-align:center;   
}

#missao{
    font-size:20px;
}


em strong{
    color:#FF0000;
}


.itens{
    font-style: italic;
}
/* para estilizar uma classe no CSS, usamos . (ponto) + nome da classe*/


.benefícios{
    background: #FFFFFF;
    padding: 20px;
}


ul{
    display: inline-block;    
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
/* display:
    */

.imagembeneficios{
    width: 50%;
}
